p{
	width:100vw;
}

.title{
	text-align:center;
	border-bottom:5px solid #5f4339;
	padding-bottom:20px;
	padding-top:20px;
	margin-bottom:100px;
	color:black;
	font-weight:900;
	text-decoration:none;
	display:block;
	font-size:40px;
	background-color:#4e342e
} 

li{
	margin-bottom:30px;
}

ol{
	margin-top:20px;
}
.navigation{
	display:flex;
	flex-flow:row;
	width:60vw;
	position:absolute;
	top:100px;
	justify-content:space-evenly;
}

.nav{
	border:1px solid white;
	height:40px;
	flex-basis:33%;
	text-align:center;
	text-decoration:none;
	color:white;
	font-size:18px;
	background:#260e04;
}

body{
	margin:0;
	background-color:white;
}

.times{
	text-align:center;
}

.button{
	background-color:#8d6e63;
	width:100px;
	height:50px;
	margin-right:10px;
}

.choose{
	border:1px solid black;
	display:flex;
	flex-flow:column;
	margin-right:10px;
	background-color:#8d6e63;
}

.dlabel{
	font-size:13px;
	width:90px;
}

.buttons{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	margin-bottom:100px;
	}

.buttons1{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	margin-bottom:30px;
	margin-top:30px;
	}

.row{
	border:1px solid black;
	width:100px;
	height:50px;
	text-align:center;
	background-color:#be9c91;
}

.table4 .row3,
.table5 .row0,
.table5 .row1,
.table5 .row2,
.table5 .row3,
.table6 .row0,
.table6 .row1,
.table6 .row2{
	background:#8d6e63;
}

.n0,.n2,.n4,.n6,.n8,.n10{
	background:#8d6e63;
}

.name{
	width:80px;
	text-align:center;
	background-color:#be9c91;
}

.times{
		width:40px;
		margin-left:20px;
		margin-right:20px;
		background-color:#be9c91;
	}

.table{
	display:flex;
	flex-flow:column nowrap;
	text-align:center;
}

.all{
	display:flex;
	margin-bottom:30px;
	position:relative;
}

.body{
	display:flex;
	justify-content:space-evenly;
	flex-flow:row wrap;
}
.namelist{
	display:flex;
	flex-flow:column nowrap;
	margin-bottom:30px;
}
.nameanddate{
	display:flex;
	flex-flow:row nowrap;
	border:1px solid black;
	height:30px;
}

input[type="reset"]{
	background-color:#8d6e63;
}

input[type="checkbox"]{
	width:20px;
	height:20px;
}

label{
	cursor:pointer;
}

input{
	cursor:pointer;
}

.doublecheck{
	width:20px;
	height:20px;
}
















